<%- include('../masterpage/main-header') -%>

	<div class="container" ng-controller="ProgramacionController" data-ng-init="init()">

		<div class="card">

			<div class="card-header">

				<div class="row">

					<div class="col-sm-6">
						<h4>Programaciones</h4>
					</div>

					<div class="col-sm-6">
						<form class="row" role="form" action="#">
                                <div class="col-sm-4">
									<div class="input-group form-group fg-line">
										<div class="dtp-container fg-line">
											<input id="inp-fecha" type='text' class="form-control date-picker" placeholder="dd/mm/aaaa" ng-model="filtro.fecha">
										</div>
										<span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
									</div>
                                </div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="dtp-container fg-line">
											<select id="sel-operario" class="selectpicker" data-live-search="true" ng-model="filtro.id_operario">
												<option value="" selected hidden>Buscar por operario</option>
												<option ng-repeat="item in operarioLista" value="{{ item.id_usuario }}">
													{{ item.nombres }} {{ item.apellidos }}
												</option>						
											</select>
										</div>
									</div>
								</div>
								
                                <div class="col-sm-2">
                                    <button class="btn btn-primary btn-sm m-t-5 waves-effect" ng-click="cargarProgramacion()">BUSCAR</button>
								</div>
								
                            </form>
					</div>

				</div>
			</div>

			<div class="card-body table-responsive">
				<table id="tab-datos" class="table table-hover table-condensed">
					<thead>
						<tr>
							<th style="width: 10px;">#</th>
							<th style="width: 80px;">HORA</th>
							<th style="width: 300px;">SERVICIO</th>
							<th>OPERARIO</th>
							<th style="width: 250px;">CLIENTE</th>
							<th style="width: 100px;">ESTADO</th>
							<th style="width: 40px;">FICHA</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in programacionLista">
							<td style="width: 10px;">{{ $index + 1 }}</td>
							<td class="text-primary" style="width: 80px;">{{ item.hora_format }}</td>
							<td style="width: 300px;">{{ item.servicio }}</td>
							<td><ul style="list-style-type:none;padding:0px;margin:0px;">
								<li ng-repeat="p in item.personal_format">- {{ p }}</li>
							</ul></td>
							<td style="width: 250px;">{{ item.cliente }}</td>
							<td ng-switch on="item.estado">
								<div ng-switch-when="PEN">No iniciado<br>
									<div style="margin-top: 3px; display: inline-block;">
										<div class="bgm-lightgray" style="width: 35px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div class="bgm-lightgray" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div class="bgm-lightgray" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									</div>
								</div>
								<div ng-switch-when="LLE">En ejecución<br>
									<div style="margin-top: 3px; display: inline-block;">
										<div class="bgm-amber" style="width: 35px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div class="bgm-lightgray" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div class="bgm-lightgray" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									</div>
								</div>
								<div ng-switch-when="INI">En ejecución<br>
									<div style="margin-top: 3px; display: inline-block;">
										<div class="bgm-amber" style="width: 35px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div ng-if="item.incidencia_cantidad == 0" class="bgm-lightgray" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div ng-if="item.incidencia_cantidad != 0" class="bgm-orange" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div ng-if="item.venta_cantidad == 0" class="bgm-lightgray" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div ng-if="item.venta_cantidad != 0" class="bgm-blue" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									</div>
								</div>
								<div ng-switch-when="FIN">Terminado<br>
									<div style="margin-top: 3px; display: inline-block;">
										<div class="bgm-green" style="width: 35px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div ng-if="item.incidencia_cantidad == 0" class="bgm-lightgray" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div ng-if="item.incidencia_cantidad != 0" class="bgm-orange" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div ng-if="item.venta_cantidad == 0" class="bgm-lightgray" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div ng-if="item.venta_cantidad != 0" class="bgm-blue" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									</div>
								</div>
								<div ng-switch-when="CAN">Cancelado<br>
									<div style="margin-top: 3px; display: inline-block;">
										<div class="bgm-red" style="width: 35px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div ng-if="item.incidencia_cantidad == 0" class="bgm-lightgray" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div ng-if="item.incidencia_cantidad != 0" class="bgm-orange" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div ng-if="item.venta_cantidad == 0" class="bgm-lightgray" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
										<div ng-if="item.venta_cantidad != 0" class="bgm-blue" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									</div>
								</div>
								
							</td>
							<td style="width: 40px;"><a href="#" class="btn btn-primary waves-effect">VER</a></td>
						</tr>
						<tr ng-if="(programacionLista.length == 0)">
							<td colspan="7" class="text-center">No se encontró información</td>
						</tr>
						<!--
						<tr data-id="PROG001">
							<td>1</td>
							<td class="text-primary">02:40 PM</td>
							<td>Christopher</td>
							<td>@makinton</td>
							<td>Ducky</td>
							<td>No iniciado<br>
								<div style="margin-top: 3px; display: inline-block;">
									<div class="bgm-amber" style="width: 35px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									<div class="bgm-red" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									<div class="bgm-blue" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
								</div>
							</td>
							<td><a href="#" class="btn btn-primary waves-effect">VER</a></td>
						</tr>
						<tr data-id="PROG002">
							<td>2</td>
							<td class="text-primary">02:40 PM</td>
							<td>Hollaway</td>
							<td>@hollway</td>
							<td>Cheese</td>
							<td>No iniciado<br>
								<div style="margin-top: 3px; display: inline-block;">
									<div class="bgm-amber" style="width: 35px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									<div class="bgm-red" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									<div class="bgm-blue" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
								</div>
							</td>
							<td><a href="#" class="btn btn-primary waves-effect">VER</a></td>
						</tr>
						<tr>
							<td>3</td>
							<td class="text-primary">02:40 PM</td>
							<td>Johnston</td>
							<td>@sebastian</td>
							<td>Jaycee</td>
							<td>No iniciado<br>
								<div style="margin-top: 3px; display: inline-block;">
									<div class="bgm-amber" style="width: 35px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									<div class="bgm-red" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									<div class="bgm-blue" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
								</div>
							</td>
							<td><a href="#" class="btn btn-primary waves-effect">VER</a></td>
						</tr>
						<tr>
							<td>4</td>
							<td class="text-primary">02:40 PM</td>
							<td>Christin</td>
							<td>@mitchell4u</td>
							<td>AdskiDeAnus</td>
							<td>No iniciado<br>
								<div style="margin-top: 3px; display: inline-block;">
									<div class="bgm-amber" style="width: 35px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									<div class="bgm-red" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
									<div class="bgm-blue" style="width: 5px;height: 5px;border-radius: 5px;display: inline-block;"></div>
								</div>
							</td>
							<td><a href="#" class="btn btn-primary">VER</a></td>
						</tr>
					-->
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<div class="modal fade" id="mod-info" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Programación - Detalle</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-2">
							<button class="btn btn-primary btn-icon waves-circle text-bold">1</button>
						</div>
						<div class="col-sm-5">
							<div class="form-group fg-line">
								<label class="c-blue text-bold">CLIENTE</label><br>
								<label class="form-control input-md text-bold c-darkgray">GRAÑA Y MONTERO</label>
							</div>
						</div>
						<div class="col-sm-5">
							<div class="form-group fg-line">
								<label class="c-blue text-bold">SERVICIO</label><br>
								<label class="form-control input-md text-bold c-darkgray">DESRATIZACIÓN</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group fg-line">
								<label class="c-blue text-bold">FECHA</label><br>
								<label class="form-control input-md text-bold c-darkgray text-center">01/10/2017</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group fg-line">
								<label class="c-blue text-bold">HORA LLEGADA</label><br>
								<label class="form-control input-md text-bold c-darkgray text-center">02:40 PM</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group fg-line">
								<label class="c-blue text-bold">HORA INICIO</label><br>
								<label class="form-control input-md text-bold c-darkgray text-center">02:40 PM</label>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group fg-line">
								<label class="c-blue text-bold">HORA TERMINO</label><br>
								<label class="form-control input-md text-bold c-darkgray text-center">02:40 PM</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group fg-line">
								<label class="c-blue text-bold">OPERARIOS</label><br>
								<table id="tab-operario" class="table table-condensed">
									<tbody>
										<tr class="borderless">
											<td>AdskiDeAnus</td>
										</tr>
										<tr class="borderless">
											<td>AdskiDeAnus</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">CERRAR</button>
				</div>
			</div>
		</div>
	</div>

	<%- include('../masterpage/main-scripts') -%>

	<!--<script src="/js/views/programacion/index.js"></script>-->
	<script src="/js/controllers/programacion_controller.js"></script>
	
	<%- include('../masterpage/main-footer') -%>

	